In [2]:
# Example 1

def foo(n):
    x = 1 # 1
    y = 2 # 1
    z = 3 # 1
    print(n) # 1
    
# Each line inside the function body being considered as 1 operation

In [4]:
foo(5)

5

In [5]:
foo(1000)

1000

In [6]:
'''
Number of operations = 4 (CONSTANT)
They are independent from the input in the function.
'''

'\nNumber of operations = 4 (CONSTANT)\nThey are independent from the input in the function.\n'

In [10]:
# Example 2

def foo(n):
    for i in range(n):
        print(i, end = " ") # n

In [11]:
foo(5)

0 1 2 3 4

In [12]:
foo(100)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [13]:
'''
Number of operations = n (LINEAR)
Input and number of operations share a linear relationship.
'''

'\nNumber of operations = n (LINEAR)\nInput and number of operations share a linear relationship.\n'

In [15]:
# Example 3

def foo(n):
    for i in range(n):
        for j in range(n):
            print(i + j, end = " ") # n^2

In [16]:
foo(2)

0 1 1 2

In [17]:
foo(4)

0 1 2 3 1 2 3 4 2 3 4 5 3 4 5 6

In [18]:
'''
Number of operations = n^2 (QUADRATIC)
Input and numver of operations share a quadratic relationship.
'''

'\nNumber of operations = n^2 (QUADRATIC)\nInput and numver of operations share a quadratic relationship.\n'

In [19]:
# Example 4
def foo(n):
    x = 5 # 1
    y = 10 # 1
    
    for i in range(n):
        print(i) # n
        
        
# Number of operations -> n + 2

In [20]:
# Example 5

def foo(n):
    x = 5
    y = 10
    
    for i in range(n):
        print(i) # n
        
    for i in range(n):
        for j in range(n):
            print(i) # n^2
            
# Number of operations - Cost Function -> n^2 + n + 2

In [22]:
# Example 6 

def foo(n):
    if n == 1:
        return "We got 1" # 1
    
    for i in range(n):
        print(i)

In [23]:
int(1.0)

1

In [25]:
int(True)

1

In [26]:
random = {}
random[1.1] = "JavaScript"
random[1.0] = "Python"
random[1] = "C++"
random[True] = "JAVA"
random[1+0j] = "TypeScript"

print(f"{random[1.1]} and {random[True]}")

JavaScript and TypeScript

In [27]:
[ i+j+k for k in ["I"] for j in ["am"] for i in ["weird"] ]

['weirdamI']

In [28]:
sorted([5, 4, 3, 7, 9, 1, 2, 6])

[1, 2, 3, 4, 5, 6, 7, 9]

In [29]:
l = [5, 4, 3, 7, 9, 1, 2, 6]

In [30]:
l.sort()

In [31]:
l

[1, 2, 3, 4, 5, 6, 7, 9]

# Bubble Sort

In [32]:
def bubble_sort(a):
    for i in range(len(a) - 1):
        for j in range(len(a) - 1 - i):
            if a[j] > a[j + 1]:
                a[j], a[j+1] = a[j+1], a[j]
                
    return a

In [33]:
bubble_sort([5, 4, 3, 7, 9, 1, 2, 6])

[1, 2, 3, 4, 5, 6, 7, 9]

In [42]:
def bubble_sort_visual(a):
    for i in range(len(a) - 1):
        print(a)
        
        for j in range(len(a) - 1 - i):
            swap = False
            
            if a[j] > a[j + 1]:
                a[j], a[j+1] = a[j+1], a[j]
                swap = True
                
            print(f"\t {a} -> {f'Swapped {a[j]} with {a[j+1]}' if swap else ''}")
    print('-' * 50)
    
    print(f"FINAL RESULT -> {a}")            
    return a

In [43]:
bubble_sort_visual([5, 4, 3, 7, 9, 1, 2, 6])

[5, 4, 3, 7, 9, 1, 2, 6]
	 [4, 5, 3, 7, 9, 1, 2, 6] -> Swapped 4 with 5
	 [4, 3, 5, 7, 9, 1, 2, 6] -> Swapped 3 with 5
	 [4, 3, 5, 7, 9, 1, 2, 6] ->
	 [4, 3, 5, 7, 9, 1, 2, 6] ->
	 [4, 3, 5, 7, 1, 9, 2, 6] -> Swapped 1 with 9
	 [4, 3, 5, 7, 1, 2, 9, 6] -> Swapped 2 with 9
	 [4, 3, 5, 7, 1, 2, 6, 9] -> Swapped 6 with 9
[4, 3, 5, 7, 1, 2, 6, 9]
	 [3, 4, 5, 7, 1, 2, 6, 9] -> Swapped 3 with 4
	 [3, 4, 5, 7, 1, 2, 6, 9] ->
	 [3, 4, 5, 7, 1, 2, 6, 9] ->
	 [3, 4, 5, 1, 7, 2, 6, 9] -> Swapped 1 with 7
	 [3, 4, 5, 1, 2, 7, 6, 9] -> Swapped 2 with 7
	 [3, 4, 5, 1, 2, 6, 7, 9] -> Swapped 6 with 7
[3, 4, 5, 1, 2, 6, 7, 9]
	 [3, 4, 5, 1, 2, 6, 7, 9] ->
	 [3, 4, 5, 1, 2, 6, 7, 9] ->
	 [3, 4, 1, 5, 2, 6, 7, 9] -> Swapped 1 with 5
	 [3, 4, 1, 2, 5, 6, 7, 9] -> Swapped 2 with 5
	 [3, 4, 1, 2, 5, 6, 7, 9] ->
[3, 4, 1, 2, 5, 6, 7, 9]
	 [3, 4, 1, 2, 5, 6, 7, 9] ->
	 [3, 1, 4, 2, 5, 6, 7, 9] -> Swapped 1 with 4
	 [3, 1, 2, 4, 5, 6, 7, 9] -> Swapped 2 with 4
	 [3, 1, 2, 4, 5, 6, 7, 9] ->
[3, 1, 2, 4, 5, 6, 7, 9]
	 [1, 3, 2, 4, 5, 6, 7, 9] -> Swapped 1 with 3
	 [1, 2, 3, 4, 5, 6, 7, 9] -> Swapped 2 with 3
	 [1, 2, 3, 4, 5, 6, 7, 9] ->
[1, 2, 3, 4, 5, 6, 7, 9]
	 [1, 2, 3, 4, 5, 6, 7, 9] ->
	 [1, 2, 3, 4, 5, 6, 7, 9] ->
[1, 2, 3, 4, 5, 6, 7, 9]
	 [1, 2, 3, 4, 5, 6, 7, 9] ->
--------------------------------------------------
FINAL RESULT -> [1, 2, 3, 4, 5, 6, 7, 9]

[1, 2, 3, 4, 5, 6, 7, 9]

In [44]:
'''
HOMEWORK ->

Figure out a way to optimise bubble sort and save unnecesary iterations at the end :)
'''

'\nHOMEWORK ->\n\nFigure out a way to optimise bubble sort and save unnecesary iterations at the end :)\n'