# DUNDERS

In [1]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege

In [2]:
c1 = Car("Nexon", 13)
c2 = Car("Altroz", 14.5)

In [3]:
print(c1)

<__main__.Car object at 0x7fd6818bba60>

In [4]:
# Object of type Car with name: Nexon and milaege: 13

In [17]:
class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege
        
    # __str__ dunder gets invoked whenever an object is printed
    def __str__(self):
        return f"Object of type Car with name: {self.name} and milaege: {self.milaege}"
    
    # __sub__ dunder allows for subtraction between objects
    def __sub__(self, other):
        return self.milaege - other.milaege
    
    # __lt__ dunder allows for less then operation between objects
    def __lt__(self, other):
        return self.milaege < other.milaege

In [18]:
c1 = Car("Nexon", 13)
c2 = Car("Altroz", 14.5)

In [19]:
print(c1)

Object of type Car with name: Nexon and milaege: 13

In [20]:
print(c2)

Object of type Car with name: Altroz and milaege: 14.5

In [23]:
c2 - c1

# Car.__sub__(c2, c1)

1.5

In [25]:
c1 < c2

# Car.__lt__(c1, c2)

True

In [27]:
# HOMEWORK

class Car:
    def __init__(self, name, milaege):
        self.name = name
        self.milaege = milaege
        
    def __add__(self, other):
        return self.milaege + other.milaege

In [28]:
c1 = Car("Nexon", 13)
c2 = Car("Altroz", 14.5)

In [30]:
result = c1 + c2

In [31]:
result

27.5

In [32]:
c3 = Car("Harrier", 10)

In [33]:
result + c3

TypeError: unsupported operand type(s) for +: 'float' and 'Car'

In [34]:
# HOMEWORK ENDS!

# INHERITENCE

In [37]:
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember): # Student class becomes a child class of SchoolMember class
    def __init__(self, name, grade):
        self.grade = grade
        
class Staff(SchoolMember):
    def __init__(self, name, salary):
        self.salary = salary
        
class Teacher(Staff):
    def __init__(self, name, salary, department):
        self.department = department

In [38]:
s1 = Student("Kiranraj", "A")

In [39]:
s1.grade

'A'

In [40]:
s1.name

AttributeError: 'Student' object has no attribute 'name'

In [49]:
class SchoolMember:
    def __init__(self, name):
        self.name = name
        
class Student(SchoolMember): # Student class becomes a child class of SchoolMember class
    def __init__(self, name, grade):
        self.grade = grade
        
        # super() automatically picks up the parent class
        # self is passed automatically, only arguments need to be passed
        super().__init__(name)
        
class Staff(SchoolMember):
    def __init__(self, name, salary):
        self.salary = salary
        
        super().__init__(name)
        
class Teacher(Staff):
    def __init__(self, name, salary, department):
        self.department = department
        
        super().__init__(name, salary)

In [50]:
s1 = Student("Vikrant", "A+")

In [51]:
s1.grade

'A+'

In [52]:
s1.name

'Vikrant'

In [53]:
t1 = Teacher("Bipin Kalra", 10, "CSE")

In [54]:
t1.department

'CSE'

In [55]:
t1.salary

10

In [56]:
t1.name

'Bipin Kalra'

In [57]:
class BankAccount:
    def __init__(self, initial_balance):
        self.balance = initial_balance
        
    def withdraw(self, amount):
        self.balance -= amount
        
    def deposit(self, amount):
        self.balance += amount

In [58]:
b1 = BankAccount(10000)

In [59]:
b1.deposit(5000)

In [60]:
b1.balance

15000

In [61]:
b1.withdraw(15000)

In [62]:
b1.balance

0

In [63]:
b1.balance = 23456789876543234567876543234567876543234567876543234567876543456789876543

In [65]:
b1.balance # balance is a public attribute

23456789876543234567876543234567876543234567876543234567876543456789876543

In [70]:
class BankAccount:
    def __init__(self, initial_balance):
        self.__balance = initial_balance 
        # Adding __ before a property makes that property private
        
    def withdraw(self, amount):
        self.__balance -= amount
        
    def deposit(self, amount):
        self.__balance += amount
        
    def show_balance(self):
        return self.__balance

In [71]:
b1 = BankAccount(10000)

In [72]:
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [73]:
b1.show_balance()

10000

In [74]:
b1.deposit(1000)

In [75]:
# Properties of private attributes / methods ->
# 1. They are not accessible by a class object outside the class
# 2. They are not inheritable

In [76]:
# __varname -> _Classname__varname

In [78]:
b1._BankAccount__balance = 1234567898765432345678987632345678987323456787632

In [79]:
b1.show_balance()

1234567898765432345678987632345678987323456787632

In [80]:
dir(b1)

['_BankAccount__balance',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'deposit',
 'show_balance',
 'withdraw']

# MULTIPLE INHERITENCE

In [87]:
class A:
    def __init__(self, a):
        self.a = a
        
class B:
    def __init__(self, b):
        self.b = b
        
class C(A, B):
    def __init__(self, a, b, c):
        self.c = c
        
        A.__init__(self, a)
        B.__init__(self, b)
        
        # Another approach using super() also exists <- HOMEWORK

In [82]:
c1 = C(1,2,3)

In [83]:
c1.a

1

In [84]:
c1.b

2

In [85]:
c1.c

3

In [89]:
# DIAMOND PROBLEM! -> Method Resolution Order

In [103]:
class A:
    x = 10

class B(A):
    pass

class C(B):
    pass

class D(A):
    x = 5

class E(C, D):
    pass

In [104]:
e = E()

In [105]:
e.x

5

In [106]:
E.__mro__

# If we go L2R, value gets picked from the class that comes first

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

In [115]:
class A:
    print("Am I a class?")

# A() # 1

# obj1 = A() # 2

# if A(): # 3
#     print(A()) # 4

Am I a class?

In [109]:
class Counter:
    def __init__(self):
        self.count=5
        self.count=count+1

c = Counter()
print(c.count)

NameError: name 'count' is not defined